extend index

block headItem
	link(rel='stylesheet' type='text/css' href='/public/css/SimulatePay/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/SimulatePay/base64.css')

block bottom
	script(src='/public/js/ExtraCommon/pay.js' type='text/javascript')
	script(src='/public/js/ExtraCommon/util.js' type='text/javascript')
	script(src='/public/js/ExtraCommon/jquery.min.js' type='text/javascript')
	script(src='/public/js/SimulatePay/main.js' type='text/javascript')

block dinnerName
	p 向基佬苏子旭转账

block openid
	#wx 3123123