extend index

block headItem
	link(rel='stylesheet' type='text/css' href='/public/css/SimulatePay/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/SimulatePay/base64.min.css')

block bottom
	script(src='/public/js/ExtraCommon/extra.min.js' type='text/javascript')
	script(src='/public/js/SimulatePay/main.min.js' type='text/javascript')

block dinnerName
	p <?=$dinner?>

block receiverName
	p <?=$dinner?>


block dinnerImg
	#hide-dom.hide <?=$picurl?>
