#ReceiverInfo
	.ReceiverInfo-wrapper
		.ReceiverInfo-container
			.img-field
				img(src="http://static.brae.co/images/dinner/5djqcp07f8r4r984n1qwikloyon4icso?imageView2/1/w/300/h/300")
			.name-field
				block dinnerName
