extend index

block headItem
	link(rel='stylesheet' type='text/css' href='/public/css/LocationManage/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/LocationManage/base64.min.css')

block bottom
	script(src='http://api.map.baidu.com/api?v=2.0&ak=k4LUyMQnRbRR19bLmGmD4VKZwNPXMn2X')
	script(src='/public/js/ExtraCommon/extra.min.js' type='text/javascript')
	script(src='/public/js/LocationManage/main.min.js' type='text/javascript')

block hideJSON
	div.hide#hide-JSON <?=$data?>