#Keyboard
	.Keyboard-wrapper
		.Keyboard-container
			.key
				.left-part
					.key-field.parallel-container
						#key-1 1
						#key-2 2
						#key-3 3
						#key-4 4
						#key-5 5
						#key-6 6
						#key-7 7
						#key-8 8
						#key-9 9
						#nothing
						#key-0 0
						#key-dot .
						.clear
				.right-part
					.key-field
						#key-clear 清零
						#key-confirm.disabled 付款
				.clear
			.line-field
				#three-one.vertical-line
				#three-two.vertical-line
				#four-zero.horizonal-line
				#four-one.horizonal-line
				#four-two.horizonal-line
				#four-three.horizonal-line