#CanteenMain
	.CanteenMain-wrapper
		.CanteenMain-container
			ul.canteen-list
				li.canteen
					.canteen-wrapper
						.canteen-container
							.left-part
								.img-field
									.img
							.right-part
								.canteen-name-field
									p.canteen-name 杯口咖啡大学城店
								.location-field
									p.provinces 广州市 番禺区
									p.address 广州大学城中二横路 GOGO 新天地 66 号
								.distance-field
									p.distance 0.2km
							.clear