#TopBar
	.TopBar-wrapper
		.TopBar-container
			.left-part
				.input-field
					.search-icon
					input(placeholder="搜索门店名、地址信息")
					.clear-icon
			.right-part
				.location-field
					.left-part
						p.location 广州
					.right-part
						.arrow-icon
					.clear
			.clear