@font-grey-color: #9B9B9B;
@font-black-color: #4A4A4A;
@grey-color: #F4F5F9;
@yellow-color: #FFCC00;
@border-grey-color: #E7E7EB;
@brown-color: #D5CEC6;
@deep-coffee-color: #441e01;
@orange-color: #FFC107;
@shallow-orange-color: #FFFCF6;
@shallow-grey-color: #E3E3E3;
* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    background-color: #F0EFF5;
    color: @font-black-color;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
}

ul li {
    list-style-type: none;
}

input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.left-part {
    float: left;
}

.right-part {
    float: right;
}

.clear {
    clear: both;
}

.left-right-border {
    border-left: solid 1px @border-grey-color;
    border-right: solid 1px @border-grey-color;
}

.top-bottom-border {
    border-top: solid 1px @border-grey-color;
    border-bottom: solid 1px @border-grey-color;
}

.btn {
    cursor: pointer;
    padding: 0 15px;
    float: left;
    line-height: 30px;
    .rounded-corners(5px);
}

.parallel-container {
    > *:not(.clear) {
        float: left;
    }
}

.background-size (@width: 0, @height: 0) {
    height: @height;
    width: @width;
    background-size: @width @height;
}

.shadow (@argus: 0px 3px 8px rgba(0, 0, 0, 0.349019607843137)) {
    -moz-box-shadow: @argus;
    -webkit-box-shadow: @argus;
    box-shadow: @argus;
}

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.transition (@time: .3s) {
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    transition: all @time ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-backface-visibility: hidden;
    -moz-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
}

.background-norm(@elem: "none") {
    background-repeat: no-repeat;
    background-position: center;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    .translate(-50%, 0);
}

.vertical-center {
    position: absolute;
    top: 50%;
    .translate(0, -50%);
}

.total-center {
    position: absolute;
    left: 50%;
    top: 50%;
    .translate(-50%, -50%);
}

.translate (@ver: 0, @hor: 0) {
    .transform(translate3d(@ver, @hor, 0));
}

.transform (@str: scale(0, 0)) {
    transform: @str;
    -webkit-transform: @str;
    -moz-transform: @str;
    -ms-transform: @str;
    -o-transform: @str;
}

.ellipsisWithLineNum (@num: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @num;
    -webkit-box-orient: vertical;
}

#braeco-main {
    #main-wrapper {
        width: 92%;
        margin: 0 auto;
        #ReceiverInfo {
            .ReceiverInfo-wrapper {
                .ReceiverInfo-container {
                    padding: 17px 0;
                    text-align: center;
                    .img-field {
                        margin: 0 auto;
                        img {
                            width: 65px;
                            height: 65px;
                            .rounded-corners(3px);
                        }
                    }
                    .name-field {
                        margin: 6px;
                        line-height: 21px;
                        font-size: 15px;
                        color: #7A797E;
                    }
                }
            }
        }
        #AmountInput {
            border: solid 1px #D6D6D8;
            background-color: #fff;
            .AmountInput-warpper {
                .AmountInput-container {
                    padding: 19px 20px 14px 20px;
                    .top-field {
                        line-height: 20px;
                        color: #525252;
                        font-size: 14px;
                    }
                    .input-field {
                        margin-top: 7px;
                        height: 80px;
                        p.symbol {
                            margin-top: 8px;
                            line-height: 42px;
                            font-size: 30px;
                        }
                        input {
                            max-width: 250px;
                            height: 80px;
                            line-height: 80px;
                            font-size: 55px;
                            border: none;
                        }
                    }
                }
            }
        }
        #TransferBtn {
            .TransferBtn-wrapper {
                margin-top: 37px;
                .btn-field {
                    .tranfer-btn {
                        text-align: center;
                        background-color: #1AAD19;
                        .rounded-corners(6px);
                        color: #fff;
                        line-height: 47px;
                        font-size: 18px;
                        &.disabled {
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
    }
}
