#map.hide
	.map-wrapper
		.map-container
			#search
				.search-wrapper
					.search-container
						.search-input-field
							.search-icon
							input(id="search" name="search" placeholder="搜索地址")
							.reset-icon
			#baidu-map
			#address-container
