#CouponInfo
	.CouponInfo-wrapper
		.CouponInfo-container
			.coupon-field
				.left-part
					p.first 代
					p 金
					p 券
				.right-part
					block costReduce
					p.request
						span 满
						block cost
						span 可用
				.clear
			.word-field
				p 代金券领取后将放入“我的卡券”中
			.btn-field
				.confirm-btn
					p 确认领取